castle/
fast-downward/builds/
fast-downward/driver/
fast-downward/*.py
fast-downward/CONTRIBUTORS
fast-downward/README.md
fast-downward/src/cmake_modules/
fast-downward/src/translate/
fast-downward/src/search/*.cc
fast-downward/src/search/*.h
fast-downward/src/search/*.txt
fast-downward/src/search/*.cmake
fast-downward/src/*.txt
fast-downward/src/search/algorithms/
fast-downward/src/search/cegar/
fast-downward/src/search/evaluators/
fast-downward/src/search/ext/
fast-downward/src/search/heuristics/
fast-downward/src/search/landmarks/
fast-downward/src/search/lp/
fast-downward/src/search/merge_and_shrink/
fast-downward/src/search/open_lists/
fast-downward/src/search/operator_counting/
fast-downward/src/search/options/
fast-downward/src/search/pdbs/
fast-downward/src/search/potentials/
fast-downward/src/search/pruning/
fast-downward/src/search/search_engines/
fast-downward/src/search/task*
fast-downward/src/search/utils/
nomystery-opt11-strips/
output.sas


.vscode/